<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol>
        <li><a href="/dash/influencers">See all Influencers</a></li>
        <li><a href="/dash/sponsors">See all Sponsors</a></li>
        <li><a href="/dash/activecampaigns">See all Active Campaigns</a></li>
        <li><a href="/dash/allcampaigns">See all Campaigns</a></li>
        <li><a href="/dash/adrequests">See all Ad requests</a></li>
    </ol>
</body>
</html>